<p id="notice"><%= notice %></p>

<h1>Carros</h1>

<table>
  <thead>
    <tr>
      <th>Placa</th>
      <th>Modelo</th>
      <th>Chassi</th>
      <th>Ano</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carros.each do |carro| %>
      <tr>
        <td><%= carro.placa %></td>
        <td><%= carro.modelo %></td>
        <td><%= carro.chassi %></td>
        <td><%= carro.ano %></td>
        <td><%= link_to 'detalhes', carro, class: "bt-info" %></td>
        <td><%= link_to 'Editar', edit_carro_path(carro) %></td>
        <td><%= link_to 'Deletar', carro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'cadastrar Carro', new_carro_path, id: "bt-green" %>
